.logsColumn {
    height: 100%;
    width: 100%;
}

.logsForText {
    margin-right: 10px;
    margin-bottom: 4px;
    align-self: end;
    width: max-content;
}

@media (orientation: landscape) {
    .loggySearchBar {
        padding-right: 30px;
        padding-left: 10px;
    }
}
